@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainfont: "Outfit", sans-serif;
  --secondary: "Space Grotesk", sans-serif;
  --navy: #1e2235;
  --gold: #ffbf00;
  --gap_: 2rem;
  --radius_: 1rem;

  /*===== Margins =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy);
  font-family: "Space Grotesk", sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  font-family: var(--mainfont);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section_all {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  background-color: #54626f !important;
}
.section-title {
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
}

.section-subtitle {
  letter-spacing: 0.4px;
  line-height: 28px;
  max-width: 550px;
  font-family: "Space Grotesk", sans-serif;
}

.section-title-border {
  background-color: #000;
  height: 1 3px;
  width: 44px;
}

.section-title-border-white {
  background-color: #fff;
  height: 2px;
  width: 100px;
}
.text_custom {
  color: #00bd2a;
  font-family: "Space Grotesk", sans-serif;
}

.about_icon i {
  font-size: 22px;
  height: 65px;
  width: 65px;
  line-height: 65px;
  display: inline-block;
  background: #fff;
  border-radius: 35px;
  color: #00bd2a;
  box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
  max-width: 450px;
  font-size: 24px;
  font-family: "Space Grotesk", sans-serif;
}

.about_icon span {
  position: relative;
  top: -10px;
  font-family: "Space Grotesk", sans-serif;
}

.about_content_box_all {
  padding: 28px;
  font-family: "Space Grotesk", sans-serif;
}
.img_about img {
  border-radius: 10px;
}
/*===== VARIABLES CSS =====*/

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*===== CLASS CSS =====*/
.section {
  padding: 8rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
  font-family: var(--mainfont);
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  font-family: var(--mainfont);
}

.section-subtitle {
  color: #00bd2a;
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
}

/*===== ABOUT =====*/
.about__data {
  text-align: center;
}

.about__description span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}

.about__img {
  justify-self: center;
  width: 220px;
  border-radius: 0.5rem;
  box-shadow: -6px 14px 13px 0px rgba(0, 0, 0, 0.2);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  section {
    padding-top: 6rem;
  }

  .section-title {
    margin-bottom: var(--mb-5);
  }

  .about__description {
    text-align: initial;
  }

  .about__img {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img img {
    width: 740px;
  }
}
