/* outfit font family */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --mainfont: "Outfit", sans-serif;
  --secondary: "Space Grotesk", sans-serif;
  --navy: #1e2235;
  --gold: #ffbf00;
  --gap_: 2rem;
  --radius_: 1rem;
}
a {
  text-decoration: none; /* Remove underline */
}

a:hover,
a:focus {
  text-decoration: none; /* Remove underline on hover or focus */
}
.container_ {
  width: 100%;
  margin: 0 auto;
  border: #1e2235 2px solid;
  position: relative;
}
.flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.grid-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap_);
}
.logo {
  width: auto;
  height: 70px;
}
.highlited {
  display: flex;
  align-items: center;
  border-left: var(--navy) 2px solid;
  color: #00bd2a;
}
.white {
  background-color: azure;
}
.second_font {
  font-family: var(--secondary);
}
section {
  padding: 2rem 0;
}
.title {
  width: 80%;
  margin: 0rem auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: smaller;
  font-weight: 400;
  padding-left: 1rem;
}
.title p {
  font-size: medium;
  font-weight: normal;
}
.border_left {
  /* border: #ffbf00 solid 2px; */
  border-left: var(--gold) 3px solid;
}
.bg-light {
  background-color: #748eaa !important;
}
.bg-green {
  background-color: #00bd2926;
}
.bg-deep-green {
  background-color: #00bd29c7;
}
/* !form sytle */
#courses {
  background: url(../images/learn.jpg);
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position: center;
}

.form-container {
  font-family: var(--mainfont);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #748eaa7b;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-field,
.select-field {
  width: 90%;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.select-field option {
  color: var(--gold);
  font-size: larger;
}

/* Button styling */
.btn_submit {
  width: 80%;
  margin: 0 auto;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: #009721;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn_submit:hover {
  background-color: #009721c1;
}

/* Popup message styling */
.popup {
  width: 80%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  background-color: var(--navy);
  color: var(--gold);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
}
.popup p {
  display: block;
  width: fit-content;
  margin: 2rem auto;
  font-size: x-large;
}
.popup button {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}
/* >>>> media of container >>>>>> */
@media only screen and (max-width: 1400px) {
  .container_ {
    width: 100%;
  }
  .title {
    font-size: smaller;
  }
}

@media screen and (max-width: 390px) {
  .logo {
    height: 40px;
  }
  .popup p {
    display: block;
    width: fit-content;
    margin: 2rem auto;
    font-size: small;
  }
}

@media screen and (max-width: 630px) {
  .form-container {
    width: 90%;
    margin: 0 auto;
  }
}
